<head>
  <title>QMRA Model</title>
  <link rel="stylesheet" href="./res/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
  <div id="app" class="container-fluid">
    <h1>{{title}}</h1>
    <a href="./ref_card.html" target="_blank">About</a>
    <div id="user-inputs" class="row">
      <div id="population parameters" class="col-lg-5">
        <div class="form">
          <h3>Population Parameters</h3>
          <div class="form-group">
            <label class="control-label">Population</label>
            <input class="form-control " type="number" value=100000 id="population" v-model="population">
          </div>
          <div class="form-group">
            <label class="control-label">Daily Consumption (l)</label>
            <input class="form-control" type="number" value=1 id="dailyConsumption" v-model="dailyConsumption">
          </div>
        </div>

        <!-- Organism Inputs -->
        <h3>Organism Parameters</h3>
        <table class="table">
          <tr>
            <th></th>
            <th>Mean</th>
            <th>SD</th>
          </tr>
          <tr>
            <th>Cryptosporidium</th>
            <td>
              <input type="number" id="crypto-conc" class="form-control col-md-4" v-model="cryptoConc" />
            </td>
            <td>
              <input type="number" id="crypto-sd" class="form-control col-md-4" v-model="cryptoSD" />
            </td>
          </tr>
          <tr>
            <th>Giardia</th>
            <td>
              <input type="number" id="giardia-conc" class="form-control col-md-4" v-model="giardiaConc" />
            </td>
            <td>
              <input type="number" id="giardia-sd" class="form-control col-md-4" v-model="giardiaSD" />
            </td>
          </tr>
          <tr>
            <th>Rotavirus</th>
            <td>
              <input type="number" id="rota-conc" class="form-control col-md-4" v-model="rotaConc" />
            </td>
            <td>
              <input type="number" id="rota-sd" class="form-control col-md-4" v-model="rotaSD" />
            </td>
          </tr>
          <tr>
            <th>Campylobacter</th>
            <td>
              <input type="number" value=10000 id="campy-conc" class="form-control col-md-4" v-model="campyConc" />
            </td>
            <td>
              <input type="number" id="campy-sd" class="form-control col-md-4" v-model="campySD" />
            </td>
          </tr>
          <tr>
            <th>E. Coli</th>
            <td>
              <input type="number" id="eColi-conc" class="form-control col-md-4" v-model="eColiConc" />
            </td>
            <td>
              <input type="number" id="eColi-sd" class="form-control col-md-4" v-model="eColiSD" />
            </td>
          </tr>
        </table>
        <div class="form-group">
          <label class="control-label">E. Coli O157 Proportion</label>
          <input class="form-control " type="number" v-model="eColiO157">
        </div>
        <h3>Treatments</h3>
        <div class="form-group">
          <label>Coagulation</label>
          <select @change="setTreatments" id="coagulation" class="form-control" v-model="coagulation">
          <option>Coag Only (inline)</option>
          <option>Coag Floc (direct)</option>
          <option>Coag Floc Sed</option>
          <option>User Specified</option>
          <option>None</option>
        </select>
        </div>
        <div class="form-group">
          <label>Filtration</label>
          <select @change="setTreatments" id="filtration" class="form-control" v-model="filtration">
          <option>Rapid Granular (coag/sed)</option>
          <option>Rapid Granular (no coag)</option>
          <option>Rapid Granular (direct)</option>
          <option>Slow Sand</option>
          <option>Membrane (micro)</option>
          <option>Membrane (ultra)</option>
          <option>User Specified</option>
          <option>None</option>
        </select>
        </div>
        <div>
          <div class="form-group">
            <label>UV Treatment</label>
            <select id="treat-3" class="form-control" v-model="treat3" @change="setTreatments">
            <option>UV</option>
            <option>None</option>
            <option>User Specified</option>
          </select>
          </div>
          <div class="form-group">
            <label>UV Dose</label>
            <input type="number" value=40 id="uv-dose" class="form-control" v-model="uvDose" @change="setTreatments">
          </div>
        </div>
      </div>

      <!-- Treatmen Options --->
      <div id="treatment-inputs" class="col-lg-7">
        <h3>Summary of Treatment Log Removal and Inactivation</h3>
        <div id="reduction-plot"></div>
        <table class="table">
          <tr>
            <th></th>
            <th>Cryptosporidium</th>
            <th>Giardia</th>
            <th>Rota</th>
            <th>Campylobacter</th>
            <th>E. Coli</th>
          </tr>
          <tr v-if="!coagUser">
            <th>Coagulation</th>
            <td>{{coag.crypto.est.toFixed(3)}}</td>
            <td>{{coag.giardia.est.toFixed(3)}}</td>
            <td>{{coag.rota.est.toFixed(3)}}</td>
            <td>{{coag.campy.est.toFixed(3)}}</td>
            <td>{{coag.eColi.est.toFixed(3)}}</td>
          </tr>
          <tr v-if="coagUser">
            <th>Coagulation</th>
            <td><input class="form-control" type="number" v-model.number="coag.crypto.est" @change="totalLR" /></td>
            <td><input class="form-control" type="number" v-model.number="coag.giardia.est" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="coag.rota.est" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="coag.campy.est" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="coag.eColi.est" @change="totalLR"/></td>
          </tr>
          <tr v-if="!filtUser">
            <th>Filtration</th>
            <td>{{filt.crypto.est.toFixed(3)}}</td>
            <td>{{filt.giardia.est.toFixed(3)}}</td>
            <td>{{filt.rota.est.toFixed(3)}}</td>
            <td>{{filt.campy.est.toFixed(3)}}</td>
            <td>{{filt.eColi.est.toFixed(3)}}</td>
          </tr>
          <tr v-if="filtUser">
            <th>Filtration</th>
            <td><input class="form-control" type="number" v-model.number="filt.crypto.est" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="filt.giardia.est" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="filt.rota.est" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="filt.campy.est" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="filt.eColi.est" @change="totalLR"/></td>
          </tr>
          <tr v-if="!dis1.user">
            <th>Disinfection 1</th>
            <td>{{dis1.logRed.crypto.toFixed(3)}}</td>
            <td>{{dis1.logRed.giardia.toFixed(3)}}</td>
            <td>{{dis1.logRed.rota.toFixed(3)}}</td>
            <td>{{dis1.logRed.campy.toFixed(3)}}</td>
            <td>{{dis1.logRed.eColi.toFixed(3)}}</td>
          </tr>
          <tr v-if="dis1.user">
            <th>Disinfection 1</th>
            <td><input class="form-control" type="number" v-model.number="dis1.logRed.crypto" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="dis1.logRed.giardia" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="dis1.logRed.rota" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="dis1.logRed.campy" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="dis1.logRed.eColi" @change="totalLR"/></td>
          </tr>
          <tr v-if="!dis2.user">
            <th>Disinfection 2</th>
            <td>{{dis2.logRed.crypto.toFixed(3)}}</td>
            <td>{{dis2.logRed.giardia.toFixed(3)}}</td>
            <td>{{dis2.logRed.rota.toFixed(3)}}</td>
            <td>{{dis2.logRed.campy.toFixed(3)}}</td>
            <td>{{dis2.logRed.eColi.toFixed(3)}}</td>
          </tr>
          <tr v-if="dis2.user">
            <th>Disinfection 2</th>
            <td><input class="form-control" type="number" v-model.number="dis2.logRed.crypto" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="dis2.logRed.giardia" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="dis2.logRed.rota" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="dis2.logRed.campy" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="dis2.logRed.eColi" @change="totalLR"/></td>
          </tr>
          <tr v-if="!uvUser">
            <th>UV</th>
            <td>{{uvLogRed.crypto.toFixed(3)}}</td>
            <td>{{uvLogRed.giardia.toFixed(3)}}</td>
            <td>{{uvLogRed.rota.toFixed(3)}}</td>
            <td>{{uvLogRed.campy.toFixed(3)}}</td>
            <td>{{uvLogRed.eColi.toFixed(3)}}</td>
          </tr>
          <tr v-if="uvUser">
            <th>UV</th>
            <td><input class="form-control" type="number" v-model.number="uvLogRed.crypto" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="uvLogRed.giardia" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="uvLogRed.rota" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="uvLogRed.campy" @change="totalLR"/></td>
            <td><input class="form-control" type="number" v-model.number="uvLogRed.eColi" @change="totalLR"/></td>
          </tr>
          <tr>
            <th>Total</th>
            <td>{{totalLogRed.crypto.toFixed(3)}}</td>
            <td>{{totalLogRed.giardia.toFixed(3)}}</td>
            <td>{{totalLogRed.rota.toFixed(3)}}</td>
            <td>{{totalLogRed.campy.toFixed(3)}}</td>
            <td>{{totalLogRed.eColi.toFixed(3)}}</td>
          </tr>
        </table>
        <div id="disinfection-1" class="form-horizontal col-lg-6">
          <h3>Disinfection 1</h3>
          <div id="dis-plot-1" v-if="dis1.plot"></div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Type</label>
            <div class="col-lg-8">
              <select id="treat-1" class="form-control" @change="disinfect(dis1, 'dis-plot-1')" v-model="dis1.treat">
              <option>None</option>
              <option>Free Chlorine</option>
              <option>Chloramine</option>
              <option>Ozone</option>
              <option>Chlorine Dioxide</option>
              <option>User Specified</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Contact Time</label>
            <div class="col-lg-8">
              <input type="number" value=60 id="contactTime-1" class="form-control" @change="disinfect(dis1, 'dis-plot-1')" v-model="dis1.contactTime">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Baffle Factor</label>
            <div class="col-lg-8">
              <input type="number" value=0.5 id="baffle-1" class="form-control" @change="disinfect(dis1, 'dis-plot-1')" v-model="dis1.baffle">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Initial Conc</label>
            <div class="col-lg-8">
              <input type="number" value=1 id="initConc-1" class="form-control" @change="disinfect(dis1, 'dis-plot-1')" v-model="dis1.initConc">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">k decay factor (min)[0 -1]</label>
            <div class="col-lg-8">
              <input type="number" value=0.002 id="kValue-1" class="form-control" @change="disinfect(dis1, 'dis-plot-1')" v-model="dis1.kValue">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Temperature (C)</label>
            <div class="col-lg-8">
              <input type="number" value=10 id="temp-1" class="form-control" @change="disinfect(dis1, 'dis-plot-1')" v-model="dis1.temp">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">pH</label>
            <div class="col-lg-8">
              <input type="number" value=6 id="pH-1" class="form-control" @change="disinfect(dis1, 'dis-plot-1')" v-model="dis1.pH">
            </div>
          </div>
        </div>

        <div id="disinfection-2" class="form-horizontal col-lg-6">
          <h3>Disinfection 2</h3>
          <div id="dis-plot-2" v-if="dis2.plot"></div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Type</label>
            <div class="col-lg-8">
              <select id="treat-2" class="form-control" @change="disinfect(dis2, 'dis-plot-2')" v-model="dis2.treat">
              <option>None</option>
              <option>Free Chlorine</option>
              <option>Chloramine</option>
              <option>Ozone</option>
              <option>Chlorine Dioxide</option>
              <option>User Specified</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Contact Time</label>
            <div class="col-lg-8">
              <input type="number" value=60 id="contactTime-2" class="form-control" @change="disinfect(dis2, 'dis-plot-2')" v-model="dis2.contactTime">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Baffle Factor</label>
            <div class="col-lg-8">
              <input type="number" value=0.5 id="baffle-2" class="form-control" @change="disinfect(dis2, 'dis-plot-2')" v-model="dis2.baffle">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Initial Conc</label>
            <div class="col-lg-8">
              <input type="number" value=1 id="initConc-2" class="form-control" @change="disinfect(dis2, 'dis-plot-2')" v-model="dis2.initConc">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">k decay factor (min)[0 -1]</label>
            <div class="col-lg-8">
              <input type="number" value=0.002 id="kValue-2" class="form-control" @change="disinfect(dis2, 'dis-plot-2')" v-model="dis2.kValue">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Temperature (C)</label>
            <div class="col-lg-8">
              <input type="number" value=10 id="temp-2" class="form-control" @change="disinfect(dis2, 'dis-plot-2')" v-model="dis2.temp">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">pH</label>
            <div class="col-lg-8">
              <input type="number" value=6 id="pH-2" class="form-control" @change="disinfect(dis2, 'dis-plot-2')" v-model="dis2.pH">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-on:click="sendData" class="btn btn-success btn-lg btn-block" :disabled="running">Calculate Results</div>
    <label v-if="running">Running...</label>
    <!-- MAIN OUTPUT SECTION -->
    <div id="outputs" v-if="output.fresh == false">
      <h2>Results</h2>
      <table class="table">
        <tr>
          <th>
          </th>
          <th>
            Cryptosporidium
          </th>
          <th>
            Giardia
          </th>
          <th>
            Rota
          </th>
          <th>
            Campylobacter
          </th>
          <th>
            E. Coli
          </th>
          <th>
            Total
          </th>
        </tr>
        <tr>
          <th>
            Probability of infection, daily (individual)
          </th>
          <td>{{output.prOfInf.crypto.toExponential(4)}}</td>
          <td>{{output.prOfInf.giardia.toExponential(4)}}</td>
          <td>{{output.prOfInf.rota.toExponential(4)}}</td>
          <td>{{output.prOfInf.campy.toExponential(4)}}</td>
          <td>{{output.prOfInf.eColi.toExponential(4)}}</td>
          <td>{{output.prOfInf.total.toExponential(4)}}</td>
        </tr>
        <tr>
          <th>
            Probability of infection, per year (individual)
          </th>
          <td>{{output.prOfInfYr.crypto.toExponential(4)}}</td>
          <td>{{output.prOfInfYr.giardia.toExponential(4)}}</td>
          <td>{{output.prOfInfYr.rota.toExponential(4)}}</td>
          <td>{{output.prOfInfYr.campy.toExponential(4)}}</td>
          <td>{{output.prOfInfYr.eColi.toExponential(4)}}</td>
          <td>{{output.prOfInfYr.total.toExponential(4)}}</td>
        </tr>
        <tr>
          <th>
            Probability of illness, per year (individual)
          </th>
          <td>{{output.prOfIllYr.crypto.toExponential(4)}}</td>
          <td>{{output.prOfIllYr.giardia.toExponential(4)}}</td>
          <td>{{output.prOfIllYr.rota.toExponential(4)}}</td>
          <td>{{output.prOfIllYr.campy.toExponential(4)}}</td>
          <td>{{output.prOfIllYr.eColi.toExponential(4)}}</td>
          <td>{{output.prOfIllYr.total.toExponential(4)}}</td>
        </tr>
        <tr>
          <th>
            Total # of illnesses, per year (individual)
          </th>
          <td>{{output.totalPrOfIllYr.crypto.toExponential(4)}}</td>
          <td>{{output.totalPrOfIllYr.giardia.toExponential(4)}}</td>
          <td>{{output.totalPrOfIllYr.rota.toExponential(4)}}</td>
          <td>{{output.totalPrOfIllYr.campy.toExponential(4)}}</td>
          <td>{{output.totalPrOfIllYr.eColi.toExponential(4)}}</td>
          <td>{{output.totalPrOfIllYr.total.toExponential(4)}}</td>
        </tr>
        <tr>
          <th>
            Annual DALY risk (individual)
          </th>
          <td>{{output.annDALYrisk.crypto.toExponential(4)}}</td>
          <td>{{output.annDALYrisk.giardia.toExponential(4)}}</td>
          <td>{{output.annDALYrisk.rota.toExponential(4)}}</td>
          <td>{{output.annDALYrisk.campy.toExponential(4)}}</td>
          <td>{{output.annDALYrisk.eColi.toExponential(4)}}</td>
          <td>{{output.annDALYrisk.total.toExponential(4)}}</td>
        </tr>
        <tr>
          <th>
            Total # DALY's per year (population)
          </th>
          <td>{{output.annDALYtotal.crypto.toExponential(4)}}</td>
          <td>{{output.annDALYtotal.giardia.toExponential(4)}}</td>
          <td>{{output.annDALYtotal.rota.toExponential(4)}}</td>
          <td>{{output.annDALYtotal.campy.toExponential(4)}}</td>
          <td>{{output.annDALYtotal.eColi.toExponential(4)}}</td>
          <td>{{output.annDALYtotal.total.toExponential(4)}}</td>
        </tr>
      </table>
    </div>
    <div id="output-plot-1"></div>
    <div id="output-plot-2"></div>
    <div id="risk-inf"></div>
    <div id="risk-ill"></div>
    <div id="risk-ill-ann"></div>
    <div id="risk-ill-ann-total"></div>
    <div id="risk-DALY"></div>
    <div id="risk-DALY-total"></div>
  </div>
  <script src="./res/vue/dist/vue.min.js"></script>
  <script src="./res/plotly.js/dist/plotly-basic.min.js"></script>
  <script src="./res/vue-resource/dist/vue-resource.min.js"></script>
  <script src="./res/jStat/dist/jstat.min.js"></script>
  <script src="./utils.js"></script>
  <script src="./treatment.js"></script>
  <script src="./main.js"></script>
</body>
