<head>
  <title>QMRA Model Reference Card</title>
  <link rel="stylesheet" href="./res/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="container">
<h1 id="qmra-model-probabilistic-model-to-estimate-annual-risk-of-illness-dalys-based-on-source-water-pathogens-and-treatment-barriers">QMRA Model probabilistic model to estimate annual risk of illness &amp; DALYs based on source water pathogens and treatment barriers</h1>
<p><em>Health Canada - I.Douglas/J.Elliott/S.McFadyen/T.Brooks - April(2007); revised October(2008); December(2010); June(2011); October(2011); May(2013); March(2014); May(2015)</em></p>
<p>Reference values and equations used in the QMRA calculations<br> User specified values<br> &quot;active&quot; values used in model calculations</p>

<a href="./main">Return to app</a>
<h2 id="overview-of-calculation-method-used-by-model">Overview of calculation method used by model:</h2>
<p><em>General: calculations are performed for each pathogen separately, and are also summated to determine overall illnesses and DALYs</em></p>
<ul>
  <li>Pathogen concentrations are fitted to a log-normal distribution based on mean &amp; standard deviation values in source water data<br> NOTE: values for mean of ln(x) and std-dev. of ln(x) are estimated from arithmetic mean (x) &amp; std-dev (STD) of
    source data using following equations:<br> mean of ln(x) = ln [ x2 / SQRT(x2 + STD2) ]<br> std-dev of ln(x) = SQRT [ ln ((STD/x)2 + 1) ]</li>
  <li>The log-normal distribution is divided into 500 'slices' for integration, each representing a possible 'test' concentration. Each 'slice' has equal probability weighting.</li>
  <li>For each source water 'test' concentration, the mean treated water concentration is calculated using the overall log-reduction value for treatment: Conc(treat) = Conc.(raw) x 10 - (log reduction)</li>
  <li>The treated water pathogen concentration is multiplied by the daily water consumption to estimate the mean # of organisms in the daily water consumed</li>
  <li>A Poisson probability distribution is used to estimate the probability of consuming a discrete number of pathogens based on the mean # of pathogens in daily water consumed<br> (ie: chance of consuming exactly 0 pathogens, 1 pathogen, 2 pathogens...
    etc. up to 100 pathogens, given a mean concentration in the water per day)</li>
  <li>The probability of infection is calculated using the specific pathogen dose-response model for each ingestion dose ranging from 0 - 100 per day</li>
  <li>The daily probability of infection Pinf,daily for a given 'test' concentration is the result of the sum of: Σ [ Pinf/dose x Pdose ] = sum of prob's for dose range of 0 - 100 ingested per day</li>
  <li>The probability of illness is calculated by multiplying the P(inf,daily) x P(illness given infection);</li>
  <li>The annual probability of illness is calculated using the equation: P(ill, yr) = 1 - [1 - P(ill, daily)]N<br></li>
</ul>
<ol start="11" style="list-style-type: lower-roman">
  <li>DALY's are comprehensive health index values that estimate the impact of an illness based on duration and severity of effects - see below;</li>
</ol>
<ul>
  <li>DALY risk is calculated by multiplying P(illness) x (DALYs per case of illness);</li>
  <li>Estimated Total # illnesses &amp; Total DALYs are calculated by multiplying the individual risk values times the population</li>
</ul>
<p>Source water pathogen concentrations</p>
<ul>
  <li>reference values for pathogen concentrations based on qualitative description of source water</li>
  <li>values are approximations based on available sets of pathogen data from several Canadian source waters (2007)</li>
  <li>reference values should only be used in the absence of site-specific pathogen data</li>
  <li>for standard deviation, user can assume STD-DEV is equal to MEAN values as a reasonable estimate of source water variability</li>
</ul>
<h3 id="typical-source-water-pathogen-concentrations-per-100-litres">Typical source water pathogen concentrations (# per 100 Litres)</h3>
<table>
  <thead>
    <tr class="header">
      <th>Crypto</th>
      <th>Giardia</th>
      <th>Rotavirus</th>
      <th>Campy</th>
      <th>Ecoli</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>Pristine</td>
      <td>0.1</td>
      <td>0.5</td>
      <td>0.1</td>
      <td>100</td>
      <td>100</td>
    </tr>
    <tr class="even">
      <td>Lightly Impacted</td>
      <td>1</td>
      <td>5</td>
      <td>1</td>
      <td>1000</td>
      <td>10000</td>
    </tr>
    <tr class="odd">
      <td>Moderately Impacted</td>
      <td>10</td>
      <td>50</td>
      <td>10</td>
      <td>10000</td>
      <td>100000</td>
    </tr>
    <tr class="even">
      <td>Heavily Impacted</td>
      <td>100</td>
      <td>500</td>
      <td>100</td>
      <td>100000</td>
      <td>1000000</td>
    </tr>
  </tbody>
</table>
<p><em>Definitions for these source water categories are listed below for guidance:</em></p>
<ul>
  <li>pristine - no evidence of human impact or fecal contamination (eg. protected groundwater source)</li>
  <li>lightly impacted - minimal human settlement or agricultural activities; no direct input of human or livestock wastes (eg. protected reservoir / lake)</li>
  <li>moderately impacted - human settlement and/or agricultural activity in watershed; intake not under direct influence of wastewater discharges (eg. rivers, lakes)</li>
  <li>heavily impacted - intensive human / agriculture activities in watershed; direct discharge of wastes (eg. small river in urban / agricultural area)</li>
</ul>
<p>EcoliO157 as a percentage of total Ecoli</p>
<ul>
  <li>concentrations of Ecoli_O157 can be rougly estimated based on total Ecoli concentrations measured in source water</li>
  <li>a reference value of Ecoli_O157 = 3.4% of total Ecoli is based on a values cited in literature (Martins et al., 1992)</li>
  <li>NOTE: if data is available for Ecoli_O157 specifically, then the mean and std-dev values should be entered directly on the input/output page and assumed ratio of Ecoli_O157 changed to 100%</li>
</ul>
<table>
  <thead>
    <tr class="header">
      <th>mean</th>
      <th>std-dev</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>Total Ecoli reported values entered:</td>
      <td>100000</td>
      <td>100000 (no. per 100L)</td>
    </tr>
    <tr class="even">
      <td>assumed ratio of Ecoli_O157 to Total Ecoli:</td>
      <td>3.4%</td>
      <td>3.4%</td>
    </tr>
    <tr class="odd">
      <td>assumed conc. of Ecoli_O157 in raw water:</td>
      <td>3400</td>
      <td>3400 (no. per 100L)</td>
    </tr>
  </tbody>
</table>
<h2 id="treatment---physical-log-removal">Treatment - physical log removal</h2>
<ul>
  <li>log removal values for each treatment stage are weighted mean values taken from a large literature survey (Hijnen and Medema, 2007)</li>
  <li>log removal estimates for membrane filtration (microfiltration &amp; ultrafiltration) were based on a literature review by Health Canada (2008)</li>
  <li>Hijnen and Medema (2007) examined the quality of each literature value and assinged a weighting factor accordingly (scale of 1 to 5);</li>
  <li>higher quality data were assigned greater weighting factors (eg. full-scale data better than pilot plant; pathogen data better than surrogate particles, etc.)</li>
  <li>weighted standard deviation was calculated from Hijnen and Medema (2007) data set and weighting factors using following formula:<br> (<a href="http://www.itl.nist.gov/div898/software/dataplot/refman2/ch2/weightsd.pdf" class="uri">http://www.itl.nist.gov/div898/software/dataplot/refman2/ch2/weightsd.pdf</a>)</li>
  <li>regular standard deviation was calculated for log removal values in membrane filtration data set (Health Canada)</li>
  <li>
    <p>model uses (weighted mean) values of physical log removal and reports a mean estimate;</p>
  </li>
  <li>
    <p>where two physical removal processes are combined, the model estimates the standard deviation for the combined processes as: SQRT [STDEV12 + STDEV22]</p>
  </li>
  <li>
    <p>log removal literature data and statistically derived values are presented in tables below</p>
  </li>
</ul>
<h3 id="coag.-sedimentation-estimated-log-removal">Coag. &amp; Sedimentation Estimated Log Removal</h3>
<table>
  <thead>
    <tr class="header">
      <th align="center"><strong>Study #</strong></th>
      <th align="center"><strong>Crypto</strong></th>
      <th align="center"><strong>Giardia</strong></th>
      <th align="center"><strong>Rotavirus</strong></th>
      <th align="center"><strong>Campy</strong></th>
      <th align="center"><strong>E. Coli</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="center">1</td>
      <td align="center">3.8</td>
      <td align="center">2.9</td>
      <td align="center">4.3</td>
      <td align="center">3.7</td>
      <td align="center">3.7</td>
    </tr>
    <tr class="even">
      <td align="center">2</td>
      <td align="center">3.7</td>
      <td align="center">2.9</td>
      <td align="center">3.1</td>
      <td align="center">3.4</td>
      <td align="center">3.4</td>
    </tr>
    <tr class="odd">
      <td align="center">3</td>
      <td align="center">3.1</td>
      <td align="center">2.6</td>
      <td align="center">3.0</td>
      <td align="center">3.0</td>
      <td align="center">3.0</td>
    </tr>
    <tr class="even">
      <td align="center">4</td>
      <td align="center">2.6</td>
      <td align="center">2.4</td>
      <td align="center">3.0</td>
      <td align="center">1.9</td>
      <td align="center">1.9</td>
    </tr>
    <tr class="odd">
      <td align="center">5</td>
      <td align="center">2.5</td>
      <td align="center">2.1</td>
      <td align="center">2.5</td>
      <td align="center">1.9</td>
      <td align="center">1.9</td>
    </tr>
    <tr class="even">
      <td align="center">6</td>
      <td align="center">2.3</td>
      <td align="center">1.6</td>
      <td align="center">2.3</td>
      <td align="center">1.9</td>
      <td align="center">1.9</td>
    </tr>
    <tr class="odd">
      <td align="center">7</td>
      <td align="center">2.1</td>
      <td align="center">1.3</td>
      <td align="center">2.3</td>
      <td align="center">1.8</td>
      <td align="center">1.8</td>
    </tr>
    <tr class="even">
      <td align="center">8</td>
      <td align="center">2.1</td>
      <td align="center">1.3</td>
      <td align="center">2.2</td>
      <td align="center">1.8</td>
      <td align="center">1.8</td>
    </tr>
    <tr class="odd">
      <td align="center">9</td>
      <td align="center">2.1</td>
      <td align="center">1.1</td>
      <td align="center">2.0</td>
      <td align="center">1.4</td>
      <td align="center">1.4</td>
    </tr>
    <tr class="even">
      <td align="center">10</td>
      <td align="center">2.0</td>
      <td align="center">1.0</td>
      <td align="center">1.9</td>
      <td align="center">1.4</td>
      <td align="center">1.4</td>
    </tr>
    <tr class="odd">
      <td align="center">11</td>
      <td align="center">2.0</td>
      <td align="center">0.7</td>
      <td align="center">1.9</td>
      <td align="center">1.2</td>
      <td align="center">1.2</td>
    </tr>
    <tr class="even">
      <td align="center">12</td>
      <td align="center">1.8</td>
      <td align="center">0.6</td>
      <td align="center">1.7</td>
      <td align="center">1.2</td>
      <td align="center">1.2</td>
    </tr>
    <tr class="odd">
      <td align="center">13</td>
      <td align="center">1.6</td>
      <td align="center">0.3</td>
      <td align="center">1.7</td>
      <td align="center">0.9</td>
      <td align="center">0.9</td>
    </tr>
    <tr class="even">
      <td align="center">14</td>
      <td align="center">1.4</td>
      <td align="center"></td>
      <td align="center">1.5</td>
      <td align="center">0.8</td>
      <td align="center">0.8</td>
    </tr>
    <tr class="odd">
      <td align="center">15</td>
      <td align="center">1.3</td>
      <td align="center"></td>
      <td align="center">1.5</td>
      <td align="center">0.8</td>
      <td align="center">0.8</td>
    </tr>
    <tr class="even">
      <td align="center">16</td>
      <td align="center">1.3</td>
      <td align="center"></td>
      <td align="center">1.3</td>
      <td align="center">0.7</td>
      <td align="center">0.7</td>
    </tr>
    <tr class="odd">
      <td align="center">17</td>
      <td align="center">1.3</td>
      <td align="center"></td>
      <td align="center">1.2</td>
      <td align="center">0.6</td>
      <td align="center">0.6</td>
    </tr>
    <tr class="even">
      <td align="center">18</td>
      <td align="center">1.2</td>
      <td align="center"></td>
      <td align="center">1.1</td>
      <td align="center">0.6</td>
      <td align="center">0.6</td>
    </tr>
    <tr class="odd">
      <td align="center">19</td>
      <td align="center">1.0</td>
      <td align="center"></td>
      <td align="center">1.0</td>
      <td align="center">0.6</td>
      <td align="center">0.6</td>
    </tr>
    <tr class="even">
      <td align="center">20</td>
      <td align="center">1.0</td>
      <td align="center"></td>
      <td align="center">0.9</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">21</td>
      <td align="center">0.9</td>
      <td align="center"></td>
      <td align="center">0.6</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">22</td>
      <td align="center">0.7</td>
      <td align="center"></td>
      <td align="center">0.5</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">23</td>
      <td align="center">0.4</td>
      <td align="center"></td>
      <td align="center">0.3</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">24</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">25</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center"><strong>Wt. Avg</strong></td>
      <td align="center"><strong>1.86</strong></td>
      <td align="center"><strong>1.61</strong></td>
      <td align="center"><strong>1.76</strong></td>
      <td align="center"><strong>1.55</strong></td>
      <td align="center"><strong>1.6</strong></td>
    </tr>
    <tr class="odd">
      <td align="center">Wt, Std Dev</td>
      <td align="center">0.94</td>
      <td align="center">0.94</td>
      <td align="center">0.97</td>
      <td align="center">0.95</td>
      <td align="center">0.9</td>
    </tr>
    <tr class="even">
      <td align="center">Wt. Avg + Wt Std Dev</td>
      <td align="center">2.80</td>
      <td align="center">2.55</td>
      <td align="center">2.74</td>
      <td align="center">2.50</td>
      <td align="center">2.50</td>
    </tr>
    <tr class="odd">
      <td align="center">Wt. Avg - Wt. Std Dev</td>
      <td align="center">0.92</td>
      <td align="center">0.67</td>
      <td align="center">0.79</td>
      <td align="center">0.60</td>
      <td align="center">0.60</td>
    </tr>
    <tr class="even">
      <td align="center">Mean</td>
      <td align="center">1.83</td>
      <td align="center">1.60</td>
      <td align="center">1.69</td>
      <td align="center">1.56</td>
      <td align="center">1.6</td>
    </tr>
    <tr class="odd">
      <td align="center">Std. Dev</td>
      <td align="center">0.89</td>
      <td align="center">0.89</td>
      <td align="center">1.02</td>
      <td align="center">0.94</td>
      <td align="center">0.9</td>
    </tr>
    <tr class="even">
      <td align="center">Median</td>
      <td align="center">1.80</td>
      <td align="center">1.30</td>
      <td align="center">1.70</td>
      <td align="center">1.40</td>
      <td align="center">1.4</td>
    </tr>
  </tbody>
</table>
<h3 id="granular-filt.-no-coag-estimated-log-removal">Granular Filt. (no coag) Estimated Log Removal</h3>
<table>
  <thead>
    <tr class="header">
      <th align="center">Study #</th>
      <th align="center">Crypto</th>
      <th align="center">Giardia</th>
      <th align="center">Rotavirus</th>
      <th align="center">Campy</th>
      <th align="center">E. Coli</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="center">1</td>
      <td align="center">2.3</td>
      <td align="center">2.6</td>
      <td align="center">3.8</td>
      <td align="center">1.0</td>
      <td align="center">1.0</td>
    </tr>
    <tr class="even">
      <td align="center">2</td>
      <td align="center">2.2</td>
      <td align="center">2.0</td>
      <td align="center">1.6</td>
      <td align="center">1.0</td>
      <td align="center">1.0</td>
    </tr>
    <tr class="odd">
      <td align="center">3</td>
      <td align="center">2.1</td>
      <td align="center">1.5</td>
      <td align="center">1.5</td>
      <td align="center">0.9</td>
      <td align="center">0.9</td>
    </tr>
    <tr class="even">
      <td align="center">4</td>
      <td align="center">1.5</td>
      <td align="center">1.2</td>
      <td align="center">1.2</td>
      <td align="center">0.7</td>
      <td align="center">0.7</td>
    </tr>
    <tr class="odd">
      <td align="center">5</td>
      <td align="center">1.3</td>
      <td align="center">0.8</td>
      <td align="center">1.1</td>
      <td align="center">0.6</td>
      <td align="center">0.6</td>
    </tr>
    <tr class="even">
      <td align="center">6</td>
      <td align="center">1.2</td>
      <td align="center">0.4</td>
      <td align="center">0.9</td>
      <td align="center">0.5</td>
      <td align="center">0.5</td>
    </tr>
    <tr class="odd">
      <td align="center">7</td>
      <td align="center">1.1</td>
      <td align="center">0.2</td>
      <td align="center">0.8</td>
      <td align="center">0.4</td>
      <td align="center">0.4</td>
    </tr>
    <tr class="even">
      <td align="center">8</td>
      <td align="center">1.1</td>
      <td align="center">0.0</td>
      <td align="center">0.8</td>
      <td align="center">0.4</td>
      <td align="center">0.4</td>
    </tr>
    <tr class="odd">
      <td align="center">9</td>
      <td align="center">1.1</td>
      <td align="center"></td>
      <td align="center">0.7</td>
      <td align="center">0.4</td>
      <td align="center">0.4</td>
    </tr>
    <tr class="even">
      <td align="center">10</td>
      <td align="center">1.0</td>
      <td align="center"></td>
      <td align="center">0.6</td>
      <td align="center">0.3</td>
      <td align="center">0.3</td>
    </tr>
    <tr class="odd">
      <td align="center">11</td>
      <td align="center">0.7</td>
      <td align="center"></td>
      <td align="center">0.6</td>
      <td align="center">0.2</td>
      <td align="center">0.2</td>
    </tr>
    <tr class="even">
      <td align="center">12</td>
      <td align="center">0.7</td>
      <td align="center"></td>
      <td align="center">0.6</td>
      <td align="center">0.2</td>
      <td align="center">0.2</td>
    </tr>
    <tr class="odd">
      <td align="center">13</td>
      <td align="center">0.5</td>
      <td align="center"></td>
      <td align="center">0.6</td>
      <td align="center">0.2</td>
      <td align="center">0.2</td>
    </tr>
    <tr class="even">
      <td align="center">14</td>
      <td align="center">0.4</td>
      <td align="center"></td>
      <td align="center">0.5</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">15</td>
      <td align="center">0.3</td>
      <td align="center"></td>
      <td align="center">0.5</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">16</td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center">0.4</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">17</td>
      <td align="center">0.0</td>
      <td align="center"></td>
      <td align="center">0.3</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">18</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">0.3</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">19</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">20</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">21</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">22</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">0.1</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">23</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">0.0</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">24</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">25</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">26</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">27</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center"><strong>Wt. Avg</strong></td>
      <td align="center"><strong>1.11</strong></td>
      <td align="center"><strong>1.23</strong></td>
      <td align="center"><strong>0.77</strong></td>
      <td align="center"><strong>0.55</strong></td>
      <td align="center"><strong>0.5</strong></td>
    </tr>
    <tr class="odd">
      <td align="center">Wt, Std Dev</td>
      <td align="center">0.71</td>
      <td align="center">0.94</td>
      <td align="center">0.78</td>
      <td align="center">0.29</td>
      <td align="center">0.3</td>
    </tr>
    <tr class="even">
      <td align="center">Wt. Avg + Wt Std Dev</td>
      <td align="center">1.82</td>
      <td align="center">2.17</td>
      <td align="center">1.55</td>
      <td align="center">0.84</td>
      <td align="center">0.84</td>
    </tr>
    <tr class="odd">
      <td align="center">Wt. Avg - Wt. Std Dev</td>
      <td align="center">0.39</td>
      <td align="center">0.28</td>
      <td align="center">0.00</td>
      <td align="center">0.26</td>
      <td align="center">0.26</td>
    </tr>
    <tr class="even">
      <td align="center">Mean</td>
      <td align="center">1.04</td>
      <td align="center">1.09</td>
      <td align="center">0.76</td>
      <td align="center">0.52</td>
      <td align="center">0.5</td>
    </tr>
    <tr class="odd">
      <td align="center">Std. Dev</td>
      <td align="center">0.69</td>
      <td align="center">0.91</td>
      <td align="center">0.79</td>
      <td align="center">0.29</td>
      <td align="center">0.3</td>
    </tr>
    <tr class="even">
      <td align="center">Median</td>
      <td align="center">1.10</td>
      <td align="center">1.00</td>
      <td align="center">0.60</td>
      <td align="center">0.40</td>
      <td align="center">0.4</td>
    </tr>
  </tbody>
</table>
<h3 id="granular-filt.-inline">Granular Filt. (inline)</h3>
<table>
  <thead>
    <tr class="header">
      <th align="center">Study #</th>
      <th align="center">Crypto</th>
      <th align="center">Giardia</th>
      <th align="center">Rotavirus</th>
      <th align="center">Campy</th>
      <th align="center">E. Coli</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="center">1</td>
      <td align="center">5.4</td>
      <td align="center">4.7</td>
      <td align="center">1.5</td>
      <td align="center">2.1</td>
      <td align="center">2.1</td>
    </tr>
    <tr class="even">
      <td align="center">2</td>
      <td align="center">5.3</td>
      <td align="center">4.6</td>
      <td align="center">1.5</td>
      <td align="center">1.6</td>
      <td align="center">1.6</td>
    </tr>
    <tr class="odd">
      <td align="center">3</td>
      <td align="center">5.2</td>
      <td align="center">4.3</td>
      <td align="center">1.0</td>
      <td align="center">1.5</td>
      <td align="center">1.5</td>
    </tr>
    <tr class="even">
      <td align="center">4</td>
      <td align="center">5.1</td>
      <td align="center">3.9</td>
      <td align="center">0.9</td>
      <td align="center">1.4</td>
      <td align="center">1.4</td>
    </tr>
    <tr class="odd">
      <td align="center">5</td>
      <td align="center">4.9</td>
      <td align="center">3.4</td>
      <td align="center">0.8</td>
      <td align="center">1.1</td>
      <td align="center">1.1</td>
    </tr>
    <tr class="even">
      <td align="center">6</td>
      <td align="center">4.6</td>
      <td align="center">3.4</td>
      <td align="center">0.4</td>
      <td align="center">1.0</td>
      <td align="center">1.0</td>
    </tr>
    <tr class="odd">
      <td align="center">7</td>
      <td align="center">4.5</td>
      <td align="center">3.3</td>
      <td align="center">0.3</td>
      <td align="center">0.8</td>
      <td align="center">0.8</td>
    </tr>
    <tr class="even">
      <td align="center">8</td>
      <td align="center">4.3</td>
      <td align="center">3.3</td>
      <td align="center">0.3</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">9</td>
      <td align="center">4.1</td>
      <td align="center">3.3</td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">10</td>
      <td align="center">4.1</td>
      <td align="center">3.0</td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">11</td>
      <td align="center">3.7</td>
      <td align="center">3.0</td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">12</td>
      <td align="center">3.0</td>
      <td align="center">2.9</td>
      <td align="center">0.2</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">13</td>
      <td align="center">2.9</td>
      <td align="center">2.8</td>
      <td align="center">0.1</td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">14</td>
      <td align="center">2.9</td>
      <td align="center">2.7</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">15</td>
      <td align="center">2.9</td>
      <td align="center">2.4</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">16</td>
      <td align="center">2.9</td>
      <td align="center">2.0</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">17</td>
      <td align="center">2.8</td>
      <td align="center">1.7</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">18</td>
      <td align="center">2.7</td>
      <td align="center">1.5</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">19</td>
      <td align="center">2.7</td>
      <td align="center">1.4</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">20</td>
      <td align="center">2.6</td>
      <td align="center">1.3</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">21</td>
      <td align="center">2.5</td>
      <td align="center">0.8</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">22</td>
      <td align="center">2.3</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">23</td>
      <td align="center">2.2</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">24</td>
      <td align="center">2.1</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">25</td>
      <td align="center">1.9</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">26</td>
      <td align="center">1.5</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">27</td>
      <td align="center">1.5</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">28</td>
      <td align="center">1.0</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">29</td>
      <td align="center">0.8</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="even">
      <td align="center">30</td>
      <td align="center">0.1</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center"></td>
    </tr>
    <tr class="odd">
      <td align="center">Wt. Avg</td>
      <td align="center">2.97</td>
      <td align="center">2.86</td>
      <td align="center">0.59</td>
      <td align="center">1.36</td>
      <td align="center">1.36</td>
    </tr>
    <tr class="even">
      <td align="center">Wt, Std Dev</td>
      <td align="center">1.33</td>
      <td align="center">1.08</td>
      <td align="center">0.47</td>
      <td align="center">0.44</td>
      <td align="center">0.44</td>
    </tr>
    <tr class="odd">
      <td align="center">Wt. Avg + Wt Std Dev</td>
      <td align="center">4.30</td>
      <td align="center">3.94</td>
      <td align="center">1.06</td>
      <td align="center">1.79</td>
      <td align="center">1.79</td>
    </tr>
    <tr class="even">
      <td align="center">Wt. Avg - Wt. Std Dev</td>
      <td align="center">1.65</td>
      <td align="center">1.78</td>
      <td align="center">0.11</td>
      <td align="center">0.92</td>
      <td align="center">0.92</td>
    </tr>
    <tr class="odd">
      <td align="center">Mean</td>
      <td align="center">3.08</td>
      <td align="center">2.84</td>
      <td align="center">0.58</td>
      <td align="center">1.36</td>
      <td align="center">1.36</td>
    </tr>
    <tr class="even">
      <td align="center">Std. Dev</td>
      <td align="center">1.42</td>
      <td align="center">1.09</td>
      <td align="center">0.50</td>
      <td align="center">0.44</td>
      <td align="center">0.44</td>
    </tr>
    <tr class="odd">
      <td align="center">Median</td>
      <td align="center">2.90</td>
      <td align="center">3.00</td>
      <td align="center">0.30</td>
      <td align="center">1.40</td>
      <td align="center">1.40</td>
    </tr>
  </tbody>
</table>
<p><em>Elimination of microorganisms by drinking water treatment processes (Hijnen and Medema, 2007)</em></p>
<h3 id="granular-filt.-coagsed-estimated-log-removal">Granular Filt. (coag/sed) Estimated Log Removal</h3>
<table>
  <thead>
    <tr class="header">
      <th>Study #</th>
      <th>Crypto</th>
      <th>Giardia</th>
      <th>Rotavirus</th>
      <th>Campy</th>
      <th>E. Coli</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>1</td>
      <td>2.3</td>
      <td>2.6</td>
      <td>3.8</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr class="even">
      <td>2</td>
      <td>2.2</td>
      <td>2.0</td>
      <td>1.6</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr class="odd">
      <td>3</td>
      <td>2.1</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>0.9</td>
      <td>0.9</td>
    </tr>
    <tr class="even">
      <td>4</td>
      <td>1.5</td>
      <td>1.2</td>
      <td>1.2</td>
      <td>0.7</td>
      <td>0.7</td>
    </tr>
    <tr class="odd">
      <td>5</td>
      <td>1.3</td>
      <td>0.8</td>
      <td>1.1</td>
      <td>0.6</td>
      <td>0.6</td>
    </tr>
    <tr class="even">
      <td>6</td>
      <td>1.2</td>
      <td>0.4</td>
      <td>0.9</td>
      <td>0.5</td>
      <td>0.5</td>
    </tr>
    <tr class="odd">
      <td>7</td>
      <td>1.1</td>
      <td>0.2</td>
      <td>0.8</td>
      <td>0.4</td>
      <td>0.4</td>
    </tr>
    <tr class="even">
      <td>8</td>
      <td>1.1</td>
      <td>0.0</td>
      <td>0.8</td>
      <td>0.4</td>
      <td>0.4</td>
    </tr>
    <tr class="odd">
      <td>9</td>
      <td>1.1</td>
      <td></td>
      <td>0.7</td>
      <td>0.4</td>
      <td>0.4</td>
    </tr>
    <tr class="even">
      <td>10</td>
      <td>1.0</td>
      <td></td>
      <td>0.6</td>
      <td>0.3</td>
      <td>0.3</td>
    </tr>
    <tr class="odd">
      <td>11</td>
      <td>0.7</td>
      <td></td>
      <td>0.6</td>
      <td>0.2</td>
      <td>0.2</td>
    </tr>
    <tr class="even">
      <td>12</td>
      <td>0.7</td>
      <td></td>
      <td>0.6</td>
      <td>0.2</td>
      <td>0.2</td>
    </tr>
    <tr class="odd">
      <td>13</td>
      <td>0.5</td>
      <td></td>
      <td>0.6</td>
      <td>0.2</td>
      <td>0.2</td>
    </tr>
    <tr class="even">
      <td>14</td>
      <td>0.4</td>
      <td></td>
      <td>0.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>15</td>
      <td>0.3</td>
      <td></td>
      <td>0.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>16</td>
      <td>0.2</td>
      <td></td>
      <td>0.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>17</td>
      <td>0.0</td>
      <td></td>
      <td>0.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>18</td>
      <td></td>
      <td></td>
      <td>0.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>19</td>
      <td></td>
      <td></td>
      <td>0.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>20</td>
      <td></td>
      <td></td>
      <td>0.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>21</td>
      <td></td>
      <td></td>
      <td>0.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>22</td>
      <td></td>
      <td></td>
      <td>0.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>23</td>
      <td></td>
      <td></td>
      <td>0.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>25</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>26</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>27</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>Wt. Avg</td>
      <td>1.11</td>
      <td>1.23</td>
      <td>0.77</td>
      <td>0.55</td>
      <td>0.5</td>
    </tr>
    <tr class="odd">
      <td>Wt, Std Dev</td>
      <td>0.71</td>
      <td>0.94</td>
      <td>0.78</td>
      <td>0.29</td>
      <td>0.3</td>
    </tr>
    <tr class="even">
      <td>Wt. Avg + Wt Std Dev</td>
      <td>1.82</td>
      <td>2.17</td>
      <td>1.55</td>
      <td>0.84</td>
      <td>0.84</td>
    </tr>
    <tr class="odd">
      <td>Wt. Avg - Wt. Std Dev</td>
      <td>0.39</td>
      <td>0.28</td>
      <td>0.00</td>
      <td>0.26</td>
      <td>0.26</td>
    </tr>
    <tr class="even">
      <td>Mean</td>
      <td>1.04</td>
      <td>1.09</td>
      <td>0.76</td>
      <td>0.52</td>
      <td>0.5</td>
    </tr>
    <tr class="odd">
      <td>Std. Dev</td>
      <td>0.69</td>
      <td>0.91</td>
      <td>0.79</td>
      <td>0.29</td>
      <td>0.3</td>
    </tr>
    <tr class="even">
      <td>Median</td>
      <td>1.10</td>
      <td>1.00</td>
      <td>0.60</td>
      <td>0.40</td>
      <td>0.4</td>
    </tr>
  </tbody>
</table>
<p><em>Elimination of microorganisms by drinking water treatment processes (Hijnen and Medema, 2007)</em></p>
<h3 id="slow-sand-filtration-estimated-log-removal">Slow Sand Filtration Estimated Log Removal</h3>
<table>
  <thead>
    <tr class="header">
      <th>Study #</th>
      <th>Crypto</th>
      <th>Giardia</th>
      <th>Rotavirus</th>
      <th>Campy</th>
      <th>E. Coli</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>1</td>
      <td>6.5</td>
      <td>6.0</td>
      <td>4.0</td>
      <td>4.8</td>
      <td>4.8</td>
    </tr>
    <tr class="even">
      <td>2</td>
      <td>5.7</td>
      <td>4.7</td>
      <td>3.5</td>
      <td>4.6</td>
      <td>4.6</td>
    </tr>
    <tr class="odd">
      <td>3</td>
      <td>5.3</td>
      <td>4.0</td>
      <td>3.4</td>
      <td>3.9</td>
      <td>3.9</td>
    </tr>
    <tr class="even">
      <td>4</td>
      <td>4.7</td>
      <td></td>
      <td>3.0</td>
      <td>3.4</td>
      <td>3.4</td>
    </tr>
    <tr class="odd">
      <td>5</td>
      <td>4.5</td>
      <td></td>
      <td>2.8</td>
      <td>3.2</td>
      <td>3.2</td>
    </tr>
    <tr class="even">
      <td>6</td>
      <td>2.7</td>
      <td></td>
      <td>2.1</td>
      <td>2.9</td>
      <td>2.9</td>
    </tr>
    <tr class="odd">
      <td>7</td>
      <td></td>
      <td></td>
      <td>2.1</td>
      <td>2.8</td>
      <td>2.8</td>
    </tr>
    <tr class="even">
      <td>8</td>
      <td></td>
      <td></td>
      <td>1.9</td>
      <td>2.5</td>
      <td>2.5</td>
    </tr>
    <tr class="odd">
      <td>9</td>
      <td></td>
      <td></td>
      <td>1.9</td>
      <td>2.4</td>
      <td>2.4</td>
    </tr>
    <tr class="even">
      <td>10</td>
      <td></td>
      <td></td>
      <td>1.3</td>
      <td>2.2</td>
      <td>2.2</td>
    </tr>
    <tr class="odd">
      <td>11</td>
      <td></td>
      <td></td>
      <td>0.9</td>
      <td>2.2</td>
      <td>2.2</td>
    </tr>
    <tr class="even">
      <td>12</td>
      <td></td>
      <td></td>
      <td>0.7</td>
      <td>2.0</td>
      <td>2.0</td>
    </tr>
    <tr class="odd">
      <td>13</td>
      <td></td>
      <td></td>
      <td>0.6</td>
      <td>1.9</td>
      <td>1.9</td>
    </tr>
    <tr class="even">
      <td>14</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1.9</td>
      <td>1.9</td>
    </tr>
    <tr class="odd">
      <td>15</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1.6</td>
      <td>1.6</td>
    </tr>
    <tr class="even">
      <td>16</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1.3</td>
      <td>1.3</td>
    </tr>
    <tr class="odd">
      <td>17</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1.2</td>
      <td>1.2</td>
    </tr>
    <tr class="even">
      <td>Wt. Avg</td>
      <td>4.66</td>
      <td>4.88</td>
      <td>2.18</td>
      <td>2.69</td>
      <td>2.69</td>
    </tr>
    <tr class="odd">
      <td>Wt, Std Dev</td>
      <td>1.32</td>
      <td>0.97</td>
      <td>1.09</td>
      <td>1.08</td>
      <td>1.08</td>
    </tr>
    <tr class="even">
      <td>Wt. Avg + Wt Std Dev</td>
      <td>5.98</td>
      <td>5.85</td>
      <td>3.27</td>
      <td>3.77</td>
      <td>3.77</td>
    </tr>
    <tr class="odd">
      <td>Wt. Avg - Wt. Std Dev</td>
      <td>3.33</td>
      <td>3.91</td>
      <td>1.09</td>
      <td>1.60</td>
      <td>1.60</td>
    </tr>
    <tr class="even">
      <td>Mean</td>
      <td>4.90</td>
      <td>4.90</td>
      <td>2.17</td>
      <td>2.64</td>
      <td>2.64</td>
    </tr>
    <tr class="odd">
      <td>Std. Dev</td>
      <td>1.30</td>
      <td>1.01</td>
      <td>1.11</td>
      <td>1.06</td>
      <td>1.06</td>
    </tr>
    <tr class="even">
      <td>Median</td>
      <td>5.00</td>
      <td>4.70</td>
      <td>2.10</td>
      <td>2.40</td>
      <td>2.40</td>
    </tr>
  </tbody>
</table>
<p><em>Elimination of microorganisms by drinking water treatment processes (Hijnen and Medema, 2007)</em></p>
<h3 id="microfiltration-membrane-estimated-log-removal-references">Microfiltration (membrane) Estimated Log Removal References:</h3>
<table>
  <thead>
    <tr class="header">
      <th>Study #</th>
      <th>Crypto</th>
      <th>Giardia</th>
      <th>Rotavirus</th>
      <th>Campy</th>
      <th>E. Coli</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>1</td>
      <td>6.8</td>
      <td>6.4</td>
      <td>0.5</td>
      <td>3.9</td>
      <td>3.9</td>
    </tr>
    <tr class="even">
      <td>2</td>
      <td>6.9</td>
      <td>6.9</td>
      <td>0.0</td>
      <td>6.7</td>
      <td>6.7</td>
    </tr>
    <tr class="odd">
      <td>3</td>
      <td>6.1</td>
      <td>6.9</td>
      <td>2.0</td>
      <td>6.5</td>
      <td>6.5</td>
    </tr>
    <tr class="even">
      <td>4</td>
      <td>6.0</td>
      <td>6.7</td>
      <td>0.5</td>
      <td>2.8</td>
      <td>2.8</td>
    </tr>
    <tr class="odd">
      <td>5</td>
      <td>6.3</td>
      <td>7.0</td>
      <td>2.5</td>
      <td>3.1</td>
      <td>3.1</td>
    </tr>
    <tr class="even">
      <td>6</td>
      <td>6.6</td>
      <td>5.8</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>7</td>
      <td>4.1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>8</td>
      <td>5.6</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>9</td>
      <td>6.8</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>Mean</td>
      <td>6.13</td>
      <td>6.62</td>
      <td>1.10</td>
      <td>4.60</td>
      <td>4.60</td>
    </tr>
    <tr class="odd">
      <td>Std dev.</td>
      <td>0.88</td>
      <td>0.45</td>
      <td>1.08</td>
      <td>1.87</td>
      <td>1.87</td>
    </tr>
    <tr class="even">
      <td>Median</td>
      <td>6.30</td>
      <td>6.80</td>
      <td>0.50</td>
      <td>3.90</td>
      <td>3.90</td>
    </tr>
  </tbody>
</table>
<p><em>Health Canada literature review (2008)</em></p>
<p>References:</p>
<ul>
  <li>
    <p>Cryptosporidium</p>
  </li>
  <li>1-5 Jacangelo JG, Adham SS, Laine J-M (1997)</li>
  <li>6-8 NSF, 2002</li>
  <li>
    <p>9 NSF 2000a</p>
  </li>
  <li>
    <p>Giardia</p>
  </li>
  <li>1-5 Jacangelo JG, Adham SS, Laine J-M (1997)</li>
  <li>
    <p>6 NSF 2000a</p>
  </li>
  <li>
    <p>Virus</p>
  </li>
  <li>
    <p>1-5 Jacangelo JG, Adham SS, Laine J-M (1997)</p>
  </li>
  <li>
    <p>E.coli</p>
  </li>
  <li>1-3 NSF, 2002</li>
  <li>
    <p>4-5 NSF, 2003</p>
  </li>
</ul>
<h3 id="ultrafiltration-membrane-estimated-log-removal">Ultrafiltration (membrane) Estimated Log Removal</h3>
<table>
  <thead>
    <tr class="header">
      <th>Study #</th>
      <th>Crypto</th>
      <th>Giardia</th>
      <th>Rotavirus</th>
      <th>Campy</th>
      <th>E. Coli</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>1</td>
      <td>6.9</td>
      <td>6.4</td>
      <td>3.9</td>
      <td>8.0</td>
      <td>8.0</td>
    </tr>
    <tr class="even">
      <td>2</td>
      <td>6.7</td>
      <td>7.0</td>
      <td>4.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>3</td>
      <td>7.0</td>
      <td>6.7</td>
      <td>3.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>4</td>
      <td>6.4</td>
      <td>6.7</td>
      <td>4.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>5</td>
      <td>6.3</td>
      <td>6.9</td>
      <td>4.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>6</td>
      <td>6.4</td>
      <td>5.3</td>
      <td>5.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>7</td>
      <td>6.5</td>
      <td>5.5</td>
      <td>2.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>8</td>
      <td>5.8</td>
      <td>4.9</td>
      <td>4.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>9</td>
      <td>5.7</td>
      <td></td>
      <td>4.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>10</td>
      <td></td>
      <td></td>
      <td>4.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>11</td>
      <td></td>
      <td></td>
      <td>3.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>12</td>
      <td></td>
      <td></td>
      <td>3.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>13</td>
      <td></td>
      <td></td>
      <td>3.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>14</td>
      <td></td>
      <td></td>
      <td>5.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>15</td>
      <td></td>
      <td></td>
      <td>5.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>16</td>
      <td></td>
      <td></td>
      <td>1.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>17</td>
      <td></td>
      <td></td>
      <td>2.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>18</td>
      <td></td>
      <td></td>
      <td>4.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>19</td>
      <td></td>
      <td></td>
      <td>4.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>Mean</td>
      <td>6.41</td>
      <td>6.18</td>
      <td>4.12</td>
      <td>8.00</td>
      <td>8.00</td>
    </tr>
    <tr class="odd">
      <td>Std dev.</td>
      <td>0.44</td>
      <td>0.82</td>
      <td>1.13</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>Median</td>
      <td>6.40</td>
      <td>6.55</td>
      <td>4.30</td>
      <td>8.00</td>
      <td>8.00</td>
    </tr>
  </tbody>
</table>
<p><em>Health Canada literature review (2008)</em></p>
<p>References:</p>
<ul>
  <li>
    <p>Cryptosporidium</p>
  </li>
  <li>1-5 Jacangelo JG, Adham SS, Laine J-M (1997)NSF 2000e</li>
  <li>6 NSF 2000e</li>
  <li>7 NSF 2000b</li>
  <li>8 NSF 2000c</li>
  <li>
    <p>9 NSF 2006</p>
  </li>
  <li>
    <p>Giardia</p>
  </li>
  <li>1-5 Jacangelo JG, Adham SS, Laine J-M (1997)</li>
  <li>6 NSF 2000e</li>
  <li>7 NSF 2000b</li>
  <li>
    <p>8 NSF 2000c</p>
  </li>
  <li>
    <p>Virus</p>
  </li>
  <li>1-3 NSF 2000f</li>
  <li>5-8 NSF 2000g</li>
  <li>9-10 NSF 2006</li>
  <li>11-13 NSF 2001</li>
  <li>14-17 NSF 2000d</li>
  <li>
    <p>18-19 NSF 2006 E.coli</p>
  </li>
  <li>
    <p>decision to consider as absolute barrier for practical operating concentrations, citing results ofraw water influent challenge studies with Brevunidmonas dimunata (NSF,2006) in absence of sound E.coli seeding study data;</p>
  </li>
</ul>
<h3 id="treatment---chemical-uv-disinfection">Treatment - chemical &amp; UV disinfection</h3>
<ul>
  <li>chemical &amp; UV inactivation values were based on literature and reference values noted below</li>
  <li>safety factors used in C-T tables were removed unless there was a scientific basis for their inclusion - as noted below;</li>
  <li>equations were curve-fitted to reported data values for use in the model calculations</li>
  <li>where C-T values exceeded reported literature values, maximum log-Inactivation levels were &quot;capped&quot; as noted below</li>
  <li>in the absence of experimental data, inactivation was assumed to be first-order (ie. Log-Inactivation proportional to CT values)</li>
  <li>in the absence of experimental data, inactivation rate was assumed to double for every 10 deg.C rise in temperature</li>
</ul>
<p>Crypto – Free Chlorine<br> Korich 1990<br> 2-log demonstrated @ pH 7, 25°C; CT = 7200 mg/L-min<br> level of inactivation calculated by model is capped at 4-log</p>
<p>Crypto – Chloramine<br> Finch, G. R., Gyurek, L. L., &amp; Liyanage, L. R. (1997).<br> Hom model using k=1.1x10-6 n=2.53 m=1.28<br> 2.3-log demonstrated at pH=8, 22ºC;<br> level of inactivation calculated by model is capped at 5-log</p>
<p>Crypto – Ozone<br> EPA (2006)<br> less conservative model than previous EPA guidance documents<br> EPA applied 90% confidence boundary to the data set<br> no sufficient evidence for inactivation beyond 3-log, although Finch(1996) observed 4.7-log with
  CT=36 at pH=6.9 and 22ºC<br> level of inactivation calculated by model is capped at 6-log</p>
<p>Crypto – Chlorine Dioxide<br> EPA (2006)<br> less conservative model than previous EPA guidance documents<br> EPA applied 90% confidence boundary to the data set<br> 3.0-log inactivation demonstrated at pH=8 and 22ºC<br> level of inactivation calculated
  by model is capped at 6-log</p>
<p>Crypto – Ultraviolet<br> Hijnen, 2006.<br> some tailing observed at 3-log, although other researchers observed up to 5-log<br> level of inactivation calculated by model is capped at 5-log</p>
<p>Giardia – Free Chlorine<br> curve fit to data from EPA SWTR (1999)<br> no safety factors applied to CT tables, but used 99% UCL statistical fit of experimental data<br> 4-log inactivation demonstrated at pH=6-9<br> level of inactivation calculated by
  model is capped at 8-log</p>
<p>Giardia – Chloramine<br> curve fit to data from EPA SWTR (1999)<br> 2-log inactivation demonstrated at pH=8<br> level of inactivation calculated by model is capped at 4-log</p>
<p>Giardia – Ozone<br> curve fit to data from EPA SWTR (1999)<br> safety factor of 2 in EPA table - removed for model calc's<br> 2-log inactivation demonstrated at 5ºC, pH 7<br> level of inactivation calculated by model is capped at 4-log</p>
<p>Giardia – Chlorine Dioxide<br> Curve fit to data from EPA SWTR (1999)<br> safety factor of 1.5 in EPA table - removed for model calc's<br> 2-log inactivation demonstrated<br> level of inactivation calculated by model is capped at 4-log</p>
<p>Giardia – Ultraviolet<br> Hijnen, 2006<br> 3.0-log inactivation demonstrated, but with tailing (Craik, 2000); several observations cited at 4-log<br> level of inactivation calculated by model is capped at 4-log</p>
<p>Virus – Free Chlorine<br> curve fit to original data from Sobsey, 1988 (Hepatitis A virus); data cited in EPA SWTR (1999)<br> NOTE: For information, US-EPA CT tables included a safety factor of 3<br> NOTE: CT values based on HAV although Rotavirus may
  be 20-25 times more easily inactivated<br> 4-log inactivation demonstrated at 5ºC, pH 6-9<br> level of inactivation calculated by model is capped at 8-log</p>
<p>Virus – Chloramine<br> curve fit to data from EPA SWTR (1999)<br> NOTE: CT values were based on HAV; Rotavirus may be 5-times more resistant than HAV<br> 2-log inactivation demonstrated at 5ºC, pH=7<br> level of inactivation calculated by model is capped
  at 4-log</p>
<p>Virus – Ozone<br> curve fit to data from EPA SWTR (1999)<br> safety factor of 3 in EPA table - removed for model calc's<br> NOTE: CT values based on Poliovirus1, but Rotavirus may be 3-30 times more easily inactivated<br> 2-log inactivation demonstrated
  at 5ºC, pH 7<br> level of inactivation calculated by model is capped at 4-log</p>
<p>Virus – Chlorine Dioxide<br> curve fit to data from EPA SWTR (1999)<br> safety factor of 2 in EPA table - removed for model calc's<br> NOTE: CT values based on HAV though Rotavirus may be 20-times more easily inactivated<br> 4-log inactivation demonstrated
  at 5ºC, pH 7<br> level of inactivation calculated by model is capped at 8-log</p>
<p>Virus – Ultraviolet<br> Hijnen, 2006<br> 5.0-log inactivation demonstrated, but with tailing;<br> level of inactivation calculated by model is capped at 5-log</p>
<p>Campylobacter – Free Chlorine<br> Blaser,1986<br> used average values across all temperature &amp; pH conditions cited<br> proportional based on 3.64-log at CT=0.5 mg/L-min<br> 3.6-log inactivation demonstrated at various pH and temperature values<br>  level of inactivation calculated by model is capped at 8-log</p>
<p>Campylobacter – Chloramine<br> Blaser,1986<br> used average values across all temperature &amp; pH conditions cited<br> proportional based on 3.77-log at CT=15 mg/L-min<br> 3.8-log inactivation demonstrated at various pH and temperature values<br> level
  of inactivation calculated by model is capped at 8-log</p>
<p>Campylobacter – Ozone<br> use CT values for E.Coli (no Campylobacter studies available)<br> demonstrated 5.0-log inactivation<br> level of inactivation calculated by model is capped at 8-log</p>
<p>Campylobacter – Chlorine Dioxide<br> use CT values for E.Coli (no Campylobacter studies available)<br> demonstrated 2.0-log inactivation<br> level of inactivation calculated by model is capped at 4-log</p>
<p>Campylobacter – Ultraviolet<br> Hijnen, 2006<br> combined result from Butler 1986, and Wilson 1992.<br> 4.5 - 5.0 log inactivation demonstrated in studies<br> level of inactivation calculated by model is capped at 5-log</p>
<p>E.Coli – Free Chlorine<br> Rice and Clark, 1999<br> curve fit for 7 serotypes of EcoliO157<br> demonstrated 4.5-log inactivation<br> level of inactivation calculated by model is capped at 8-log</p>
<p>E.Coli – Chloramine<br> Kirmeyer, 2004<br> proportional based on 2-log at CT=64 (15 degC) &amp; CT=40 (20 deg.C)<br> demonstrated 2.0-log inactivation<br> level of inactivation calculated by model is capped at 4-log<br> Although the equation for T&gt;25
  is included here for completeness, it is not used in the model</p>
<p>E.Coli – Ozone<br> Hunt and Marinas, 1997<br> multiple data points, fit to linear relationship wrt temperature<br> demonstrated 5.0-log inactivation<br> level of inactivation calculated by model is capped at 8-log</p>
<p>E.Coli – Chlorine Dioxide<br> LeChevalier, 2004<br> based on 2-log inactivation for CT=0.38 (15 deg.C) and CT=0.18 (20 deg.C)<br> demonstrated 2.0-log inactivation<br> level of inactivation calculated by model is capped at 4-log</p>
<p>E.Coli – Ultraviolet<br> Hijnen, 2006<br> k-value of 0.642 reduced by factor of 3 for observed environmenal strain resistance<br> 5.5-log inactivation observed in cited studies (Wilson 1992)<br> level of inactivation calculated by model is capped at 5.5-log</p>
<h3 id="pathogen-concentration-in-treated-water">Pathogen concentration in treated water</h3>
<ul>
  <li>for each 'test' concentration in raw water, the treated water is calculated by applying the overall log reduction through treatment<br> Equation: Conc(treated) = Conc(raw) x 10-(log reduction)</li>
</ul>
<h3 id="daily-pathogen-dose-ingested">Daily pathogen dose ingested</h3>
<ul>
  <li>mean dose of pathogens ingested (#/day) = pathogen concentration (# / L) x daily water consumption (L/day)</li>
  <li>the model default is 1 liter of tap water consumed, unboiled (rounded)</li>
</ul>
<table>
  <thead>
    <tr class="header">
      <th>Age Group</th>
      <th>Sample Size</th>
      <th>Average Cold Water Consumpation (L/day)</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>&lt;1</td>
      <td>283</td>
      <td>0.05</td>
    </tr>
    <tr class="even">
      <td>1–4</td>
      <td>2872</td>
      <td>0.25</td>
    </tr>
    <tr class="odd">
      <td>5–11</td>
      <td>4917</td>
      <td>0.38</td>
    </tr>
    <tr class="even">
      <td>12–19</td>
      <td>6729</td>
      <td>0.59</td>
    </tr>
    <tr class="odd">
      <td>20–59</td>
      <td>11 757</td>
      <td>0.64</td>
    </tr>
    <tr class="even">
      <td>60+</td>
      <td>6911</td>
      <td>0.51</td>
    </tr>
    <tr class="odd">
      <td>All ages</td>
      <td>33 469</td>
      <td>0.57</td>
    </tr>
  </tbody>
</table>
<p>Statistics Canada (2004). Data Source: Canadian Community Health Survey, Cycle 2.2 – Nutrition (Wave 3): General Health and 24-hour Dietary recall (2004). (Share File)<br> Statistics Canada (2008). User Guide: Canadian Community Health Survey (CCHS),
  Cycle 2.2 (2004), Nutrition - General Health (including Vitamin &amp; Mineral Supplements) &amp; 24-hour Dietary recall components. Ottawa.</p>
<p>Probability of infection (daily) using Dose-response equations</p>
<ul>
  <li>dose response equations based on literature reported models, usually based on human experimental data or from disease outbreaks</li>
  <li>dose-response equations are summarized below along with literature reference Model Equation</li>
  <li>the exponential and beta-Poisson models are used to calculate daily risk of infection for a given dose of pathogens ingested (1, 2, 3...etc.) Binomial</li>
  <li>the exponential model is the product of a binomial distribution and poisson distribution</li>
  <li>the beta-Poisson model is the product of a beta-binomial distribution and poisson distribution</li>
</ul>
<table>
  <thead>
    <tr class="header">
      <th>Pathogen</th>
      <th>r</th>
      <th>α</th>
      <th>β</th>
      <th>Model</th>
      <th>Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>Crypto</td>
      <td>0.018</td>
      <td></td>
      <td></td>
      <td>Exponential</td>
      <td>Messner et al, 2001</td>
    </tr>
    <tr class="even">
      <td>Giardia</td>
      <td>0.01982</td>
      <td></td>
      <td></td>
      <td>Exponential</td>
      <td>Rose &amp; Gerba, 1991</td>
    </tr>
    <tr class="odd">
      <td>Rotavirus</td>
      <td></td>
      <td>0.265</td>
      <td>0.4415</td>
      <td>Beta-poisson</td>
      <td>Haas, 1999</td>
    </tr>
    <tr class="even">
      <td>Campylobacter</td>
      <td></td>
      <td>0.145</td>
      <td>7.59</td>
      <td>Beta-poisson</td>
      <td>Medema et al., 1996</td>
    </tr>
    <tr class="odd">
      <td>E.coli_O157</td>
      <td></td>
      <td>0.0571</td>
      <td>2.2183</td>
      <td>Beta-poisson</td>
      <td>Strachan, 2005</td>
    </tr>
  </tbody>
</table>
<p>r, α, β = coefficients<br> davg = mean dose of pathogens ingested (#/day)<br> j / n = exact number of organisms ingested (eg. 1,2,3...100)<br> B = beta function</p>
<h3 id="probability-of-illness-daily-given-infection">Probability of illness (daily), given infection</h3>
<ul>
  <li>defines the probability of illness given infection since not all infections lead to illness (symptoms)</li>
  <li>values from literature, usually based on illness rates observed during disease outbreaks</li>
</ul>
<table>
  <thead>
    <tr class="header">
      <th>Pathogen</th>
      <th>Probability of Illness, given infection</th>
      <th>Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>Crypto</td>
      <td>0.7</td>
      <td>Casman et al, 2000</td>
    </tr>
    <tr class="even">
      <td>Giardia</td>
      <td>0.4</td>
      <td>Nash et al. 1987</td>
    </tr>
    <tr class="odd">
      <td>Rotavirus</td>
      <td>0.88</td>
      <td>Havelaar &amp; Melse, 2003</td>
    </tr>
    <tr class="even">
      <td>Campylobacter</td>
      <td>1.0</td>
      <td>Illness used in dose response model</td>
    </tr>
    <tr class="odd">
      <td>E.coli_O157</td>
      <td>1.0</td>
      <td>Illness used in dose response model</td>
    </tr>
  </tbody>
</table>
<h3 id="probability-of-illness-annual">Probability of illness (annual)</h3>
<ul>
  <li>
    <p>to calculated the probability of 1 or more illnesses per year, given a daily risk of illness P(ill,daily), following equation can be used:<br> Equation (1): P(ill, yr) = 1 - [1 - P(ill, daily)]N</p>
  </li>
  <li>
    <p>daily risk of illness can also be multiplied by 365 days/year to estimate annual risk of illness for daily exposures<br> Equation (2): P(ill, yr) = P(ill, daily) x 365 days/yr</p>
  </li>
  <li>NOTE: at very low levels of risk, the two above equations give the same result; due to limitations in excel, daily risk of illness &lt;10-6 use equation(2)</li>
  <li>
    <p>neither equation accounts for any acquired immunity in population, and allows multiple illnesses to re-occur at high dose exposures</p>
  </li>
</ul>
<p>Calculation of total illnesses in population</p>
<ul>
  <li>annual risk of illness (individual) multiplied by population = total # of illnesses per year<br> Equation: P(ill, yr) x Population = # illnesses per year</li>
</ul>
<p>DALY calculations to estimate burden of disease per case of illness</p>
<ul>
  <li>DALY is a health metric used by World Health Organization (2004)</li>
  <li>DALYs = Disability Adjusted Life Years</li>
  <li>considers the severity and duration of illness for various health outcomes (eg. diarrhea, kidney disease, death, etc.)</li>
</ul>
<p>DALY = LYL + YLD where: LYL = life years lost (due to premature death)<br> YLD = years lived with a disability or impairment to health</p>
<p>LYL = [ life expectancy - age at death ] x W W = severity weight factor for death = 1.0</p>
<p>YLD = L x W L = duration of illness (in years)<br> W = severity weight factor for illness or impairment [ranges from 0 to 1]</p>
<ul>
  <li>population age fractions are used to determine life expectancy in LYL calculation</li>
  <li>current version of model assumes the same disease rates for each of the population age fractions</li>
  <li>population fractions are based on the following reference values:</li>
</ul>
<p>Fraction of population Fraction of population</p>
<p>|Age Category| Median Age| (Males) | (Females)| |---|---|---|---| |(0-14 years) | 7 | 0.17 | 0.16 |(15 – 64 year) | 39.5 | 0.69 | 0.68 |(65 +) yrs* | 72.94| 0.13 | 0.16 |total population | | 16414230 | 17062460</p>
<ul>
  <li>Based on the 2011 census data for Canada(Statistics Canada, 2013)</li>
  <li>note for this age category, 80.88 years is used as the upper range for calculations (i.e. average life expectancy for Canadian population)</li>
  <li>the weighted average age in population = 38.98</li>
</ul>
<table>
  <thead>
    <tr class="header">
      <th>Category</th>
      <th>Life Expectancy at birth (years)</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>Males</td>
      <td>78.64</td>
    </tr>
    <tr class="even">
      <td>Females</td>
      <td>83.12</td>
    </tr>
    <tr class="odd">
      <td>Combined</td>
      <td>80.88</td>
    </tr>
    <tr class="even">
      <td>Difference</td>
      <td>4.48</td>
    </tr>
  </tbody>
</table>
<ul>
  <li>Stats Canada (2012)</li>
  <li><em>LYL = [ life expectancy - age at death ] x W = 41.90</em></li>
</ul>
<h3 id="health-outcome-fractions-for-each-reference-pathogen">Health outcome fractions for each reference pathogen</h3>
<table style="width:50%;">
  <colgroup>
    <col width="8%" />
    <col width="8%" />
    <col width="8%" />
    <col width="8%" />
    <col width="8%" />
    <col width="8%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th>Illness Outcome</th>
      <th>Cryptoc</th>
      <th>Giardiaa</th>
      <th>Rotavirusa</th>
      <th>Campyl.b</th>
      <th>E.coli_O157</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>mild diarrhea</td>
      <td>0.99999</td>
      <td>0.99999</td>
      <td>0.50</td>
      <td>1.00</td>
      <td>0.53</td>
    </tr>
    <tr class="even">
      <td>bloody diarrhea</td>
      <td></td>
      <td></td>
      <td>0.50</td>
      <td>0.06</td>
      <td>0.47</td>
    </tr>
    <tr class="odd">
      <td>GBS, clinical &amp; residual</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.0002</td>
      <td></td>
    </tr>
    <tr class="even">
      <td>GBS, residual</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.0002</td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>Reactive arthritis</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.023</td>
      <td></td>
    </tr>
    <tr class="even">
      <td>HUS</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.01</td>
    </tr>
    <tr class="odd">
      <td>ESRD</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.00118</td>
    </tr>
    <tr class="even">
      <td>death (GBS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.0000046 (1 in 217,000)</td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>death</td>
      <td>0.00001 (1 in 100,000)</td>
      <td>0.00001 (1 in 100,000)</td>
      <td>0.0001 (1 in 10,000)</td>
      <td>0.0001 1 in 10,000)</td>
      <td>0.00025 )1 in 4,000)</td>
    </tr>
  </tbody>
</table>
<ul>
  <li>Macler &amp; Regli (1993); bHavelaar &amp; Melse (2003); cassumed to be same as Giardia</li>
</ul>
<p>Duration of illness (years) for various health outcomes (Havelaar &amp; Melse 2003)<br></p>
<table style="width:99%;">
  <colgroup>
    <col width="25%" />
    <col width="12%" />
    <col width="13%" />
    <col width="16%" />
    <col width="13%" />
    <col width="16%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th>Illness Outcome</th>
      <th>Crypto</th>
      <th>Giardia</th>
      <th>Rotavirus</th>
      <th>Campyl.</th>
      <th>E.coli_O157</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>mild diarrhea</td>
      <td>0.01918 (7 days)</td>
      <td>0.01918 (7 days)</td>
      <td>0.01918 (7 days)</td>
      <td>0.01397 (5.1 days)</td>
      <td>0.00932 (3.4 days)</td>
    </tr>
    <tr class="even">
      <td>serious diarrhea (ie. bloody)</td>
      <td></td>
      <td></td>
      <td>0.01918 (7 days)</td>
      <td>0.0230 (8.4 days)</td>
      <td>0.01534 (5.6 days)</td>
    </tr>
    <tr class="odd">
      <td>HUS</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.0575 (21 days)</td>
    </tr>
    <tr class="even">
      <td>ESRD</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>9.35</td>
    </tr>
    <tr class="odd">
      <td>clinical (GBS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Wxd=0.29&lt;</td>
      <td></td>
    </tr>
    <tr class="even">
      <td>residual (GBS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Wxd=5.8</td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>reactive arthritis (GBS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td>0.115 (6 weeks)</td>
      <td></td>
    </tr>
    <tr class="even">
      <td>death (GBS)</td>
      <td></td>
      <td></td>
      <td></td>
      <td>(e _- 59.7)</td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>death</td>
      <td>(e_ - adeath)</td>
      <td>(e _- adeath)</td>
      <td>(e_ - adeath)</td>
      <td>(e _- 65.2)</td>
      <td>(e_ - adeath)</td>
    </tr>
  </tbody>
</table>
<ul>
  <li>e* = life expectancy; adeath = age at death from illness<br></li>
  <li>primarily affects elderly population (yrs) = 67.68 62.18</li>
</ul>
<p>Severity weights for each illness are taken from reference tables (World Health Organization).</p>
<ul>
  <li>Global Burden of Disease &amp; Injury Series - Vol.II; Murray &amp; Lopez 1996a, 1996b</li>
</ul>
<table>
  <thead>
    <tr class="header">
      <th>Illness Outcome</th>
      <th>Severity</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>mild diarrhea</td>
      <td>0.067</td>
    </tr>
    <tr class="even">
      <td>serious/bloody diarrhea</td>
      <td>0.39</td>
    </tr>
    <tr class="odd">
      <td>HUS</td>
      <td>0.93</td>
    </tr>
    <tr class="even">
      <td>ESRDd</td>
      <td>0.95</td>
    </tr>
    <tr class="odd">
      <td>reactive arthritis</td>
      <td>0.21</td>
    </tr>
    <tr class="even">
      <td>clinical effects (GBS)</td>
      <td>Wxd=0.29</td>
    </tr>
    <tr class="odd">
      <td>residual effects (GBS)</td>
      <td>Wxd=5.8</td>
    </tr>
    <tr class="even">
      <td>death</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
<p>Sum of health outcome fractions (f), severity (W), &amp; duration (L) to determine DALY impact per case of illness<br> Equation: DALY = ∑ fi Li Wi + fj Lj Wj +fk Lk Wk +...</p>
<p>Summary of DALY's per case of illness for all (5) microbial pathogens (2011 census info)<br></p>
<table>
  <thead>
    <tr class="header">
      <th>Crypto</th>
      <th>Giardia</th>
      <th>Rotavirus</th>
      <th>Campyl.</th>
      <th>E.coliO157</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>DALY’s due to morbidity (YLD)</td>
      <td>1.29E-03</td>
      <td>1.29E-03</td>
      <td>4.38E-03</td>
      <td>3.25E-03</td>
      <td>1.42E-02</td>
    </tr>
    <tr class="even">
      <td>DALY’s due to mortality (LYL)</td>
      <td>3.90E-04</td>
      <td>3.90E-04</td>
      <td>3.90E-03</td>
      <td>1.41E-03</td>
      <td>9.75E-03</td>
    </tr>
    <tr class="odd">
      <td>TOTAL DALY’s</td>
      <td>1.67E-03</td>
      <td>1.67E-03</td>
      <td>8.28E-03</td>
      <td>4.65E-03</td>
      <td>2.39E-02</td>
    </tr>
  </tbody>
</table>
<p>Calculation of total DALYs for population</p>
<ul>
  <li>DALYs for population are calculated by multiplying #cases illness times the DALYs per case for each specific pathogen</li>
  <li>Total DALY impact on population calculated by adding DALYs for each pathogen:</li>
  <li>DALYs (population) = [Annual # cases illness] x DALY/case</li>
  <li>Total DALYs (population) = DALY(Crypto) + DALY(Giardia) + DALY(Rotavirus) + DALY(Campy) + DALY(Ecoli)</li>
</ul></div>
